#myCarousel.carousel.slide.landing
  .carousel-inner

    .item.active.car-image
      =image_tag('home.jpg', :style => 'min-height:400px;')
      .carousel-caption{:style => ''}
        .box{:style => ''}
          %h1.title{:style => 'font-size:76px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande"' }= "Diseño para tu startup"       
          %a.btn.btn-lg.btn-primary.btn-enroll{:style => "white-space:normal; margin-top:50px; font-size:30px", :href => '#'} Lo quiero