#myCarousel.carousel.slide.landing
  .carousel-inner

    .item.active.car-image
      =image_tag('keynote.jpg', :style => 'min-height:400px;')
      .carousel-caption{:style => 'bottom:200px; text-shadow:none; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande"'}
        .box{:style => ''}
          %h1.title{:style => 'font-size:76px; ; margin-bottom:50px' }= "Diseño para tu startup"       

          %a.btn-alexus{:style => "white-space:normal; font-size:18px; background-color:#5ac6ff; padding:10px 14px 10px 14px; color:white; margin-right:30px; border:solid #5ac6ff 2px; ", :href => new_contact_path} Lo quiero

          %a.btn-alexus{:style => "white-space:normal; margin-top:50px; font-size:18px; border:solid white 2px; padding:10px 14px 10px 14px; color:white", :href => new_contact_path} Saber más
